<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>用户ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>头像</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
	       <tr th:each="user:${users}">
	       	<td th:text="${user.userId}">10012</td>
	       	<td th:text="${user.userName}">lisong</td>	       	
	       	<td th:text="${user.password}">123456cc</td>
	       	<td th:text="${user.realName}">李松松</td>
	        <td th:text="${user.age}">18</td>
	      	<td th:text="${user.image}">1</td>
	      	<td><a th:href="@{/toEdit(userId=${user.userId})}">编辑</a></td>
	       	<td><a th:href="@{/delete(userId=${user.userId})}">删除</a></td>
	        </tr>
	        
	   
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/toAdd}" class="btn btn-info">添加</a>
    </div>
</div>

</body>
</html>